blinker==1.4
Click==7.0
Flask==1.0.2
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-Uploads==0.2.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
passlib==1.7.1
Werkzeug==0.15.2
WTForms==2.2.1
