<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a></li>
                    <li><a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a></li>
                    <li><a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a></li>
                    <li><a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallet</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/mohsingram"><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Who We Are</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>Developed by Mohsingram</a></li>
                    <li><a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/mohsingram" target="">Mohsin Gram</a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->