<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
    <a class="navbar-brand" href="/">Men's Hut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="input-group p-0 justify-content-center">
            <form action="/search" method="get" class="w-100 m-0" style="padding-right: 20%;">
                <div class="input-group-append rounded-left">
                    <input type="text" class="form-control rounded-left form-control-sm" autocomplete="off" style="float: left; border-radius: 0;" name="q" placeholder="What you want...">
                    <button class="btn btn-success btn-sm rounded-right" style="border-radius: 0;" type="submit">Search</button>
                </div>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if session.logged_in %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>
            <li class="nav-item"><a href="/profile?user={{session.uid}}" class="nav-link"><span class=""></span>Mohsin</a>
            </li>
            <li class="nav-item"><a href="/out" class="nav-link"><span class=""></span> Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>
            <li class="nav-item"><a href="/register" class="nav-link"><span class=""></span> Signup</a></li>
            <li class="nav-item"><a href="/login" class="nav-link"><span class=""></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>