{% extends 'layout.html' %} {% block body %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div class="col-lg-12">
      <!-- /.row -->
      <div class="border p-4 mb-4" style="height: 350px">
        <img
          class="w-100 h-100"
          src="/static/image/other/bodyspray.jpg"
          alt="New York"
        />
      </div>
      <h3><a href="/shoes">Shoes</a></h3>
      <div class="row">
        {% for product in shoes %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-4">
            <a href="/{{product.category}}?view={{product.id}}">
              <div
                class="card-img-top"
                style="background: url('static/image/product/{{product.category}}/{{product.picture}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "
              ></div>
            </a>
            <div class="card-body">
              <h5>
                <a
                  class="card-title"
                  href="/{{product.category}}?view={{product.id}}"
                  >{{ product.pName}}</a
                >
              </h5>
              <h4>৳{{product.price}}</h4>
              <span class="text-warning"></span>
            </div>
          </div>
          <!-- /.card -->
        </div>
        {% endfor %}
      </div>
      <div class="border p-4 mb-4" style="height: 350px">
        <img
          class="w-100 h-100"
          src="/static/image/other/t-shirt-wallpaper.jpg"
          alt="New York"
        />
      </div>
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
