{% extends 'layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                <a href="/tshirt" class="list-group-item">T-Shirt</a>
                <a href="/wallet" class="list-group-item">Wallet</a>
                <a href="/belt" class="list-group-item">Belt</a>
                <a href="/shoes" class="list-group-item">Shoes</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                {% for product in tshirts %}
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid"
                             src="static/image/product/{{product.category}}/{{product.picture}}" alt="">
                    </div>
                </div>
                <!-- /.card -->
                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Order Details
                        </div>
                        <div class="card-body">
                            {% from "includes/_formhelpers.html" import render_field %}
                            <form method="POST" action="/{{product.category}}?order={{product.id}}">
                                <div class="form-group">
                                    {{render_field(form.name, class_="form-control")}}
                                </div>
                                <div class="form-group">
                                    {{render_field(form.mobile_num, class_="form-control")}}
                                </div>

                                <div class="form-group">
                                    {{render_field(form.quantity, class_="form-control")}}
                                </div>

                                <div class="form-group">
                                    {{render_field(form.order_place, class_="form-control")}}
                                </div>
                                <button type="submit" class="btn btn-primary">Confirm Order</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /.card -->

            </div>
             <!--  
            {% if x == '' %}
            <h2 class="mb-4">No recommendation found</h2>
            {% else%}
            <h2 class="mb-4">Recommended for you:</h2>
            <div class="row">
                {% for product in x %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <a href="/{{product.category}}?view={{product.id}}">
                            <div class="card-img-top id_{{product.id}}"
                                 style="background: url('static/image/product/{{product.category}}/{{product.picture}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
                        </a>
                        <div class="card-body">
                            <h5><a class="card-title" href="/{{product.category}}?view={{product.id}}">{{
                                product.pName}}</a></h5>
                            <h4>৳{{product.price}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            -->
        </div>
        <!-- /.col-lg-9 -->


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
