{% extends 'layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-12">
            {% include 'includes/_flashmsg.html' %}
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <a href="/{{product.category}}?view={{product.id}}">
                            <div class="card-img-top"
                                 style="background: url('static/image/product/{{product.category}}/{{product.picture}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
                        </a>
                        <div class="card-body">
                            <h3><a class="card-title" id="" href="/{{product.category}}?view={{product.id}}">{{ product.pName}}</a></h3>
                            <h4>$24.99</h4>
                            <span class="text-warning"></span>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}